.context-menu {
    z-index: 100;
    padding: 0.3rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--color-bg-1);
    align-items: center;
}
.context-menu .button-group {
    align-items: center;
}
