.poetry-text {
    color: var(--book-text-color);
    text-indent: 2em;
}

.poetry-index {
    user-select: none;
    padding: 0.4rem;
    text-align: center;
    background-color: var(--color-bg-4);
    border-radius: 4px;
    margin: 0 1rem;
    writing-mode: horizontal-tb;
}
.single-content {
    align-items: center;
}

.poetry-wrapper {
    margin: auto;
    overflow-y: hidden;
    overflow-x: visible;
    height: 100%;
    font-family: var(--book-font-family);
}

.poetry-content {
    flex: 1;
    padding: 1rem 1rem;
    overflow: scroll;
}

.poetry-vertical .poetry-content {
    writing-mode: vertical-rl;
}
.poetry-vertical.box-row {
    flex-direction: row-reverse;
}
.poetry-header {
    display: flex;
    align-items: baseline;
    border-bottom: 2px solid var(--divide-red);
    margin: 1em 0;
}
.poetry-vertical .poetry-header {
    writing-mode: vertical-rl;
    padding: 1em;

    border-left: 2px solid var(--divide-red);
    border-bottom: 0;
}
.poetry-header .btn {
    margin: 1em;
}
.poetry-vertical .poetry-header .btn {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
}
.poetry-header .title {
    font-size: 1.5em;
}
