.setting-card {
    width: 100%;
    user-select: none;
    border-radius: 8px;
    height: 50%;
}
.setting-card .arco-tabs-content-inner,
.setting-card .arco-tabs-content {
    height: 100%;
}
.setting-content {
    height: 60vh;
    overflow: scroll;
}
