---
---

<header class="z-10 flex w-full py-2 px-4">
    <a href="/">
        <div class="text-xl">中华诗词大典</div>
    </a>
    <div style={{ flex: "1" }}></div>
    <nav
        class="box-row"
        style={{
            fontSize: "1.3rem",
            alignItems: "center",
            justifyContent: "space-between",
            width: "40vmin",
        }}
    >
        <slot />
    </nav>
</header>
