---
---

<header class="z-10 flex w-full py-2 px-4">
    <a href="/">
        <div class="text-xl">中华诗词大典</div>
    </a>
    <div class="flex-1"></div>
    <nav
        class="box-row text-sm flex justify-between items-center "
    >
        <slot />
    </nav>
</header>
