---
import Layout from "../../layouts/Base.astro";
import { SubRoutes } from "../../Home/subRoutes";
import "../../styles/IndexPage.css";
import { CatalogueList } from "../../components/CatalogueList";
export const prerender = true;
export async function getStaticPaths() {
    return SubRoutes.map((i) => {
        return {
            params: {
                book: i.to.slice(1),
            },
            props: {
                name: i.name,
            },
        };
    });
}
const { name } = Astro.props;
---

<Layout title={name + " 中华诗词大典"}>
    <div class="box-col no-scroll index-page">
        <div class="box-col content-max w-full flex-1 h-full">
            <div>
                <div class="Index-Seal leading-[1em]">{name}</div>
            </div>
            <!-- 首次渲染无数据 -->
            <CatalogueList name={name} client:load />
        </div>
    </div>
</Layout>
