@import url("https://cdn.jsdelivr.net/npm/@fontsource/noto-serif-sc/index.css");
:root {
    font-family: "Noto Serif SC", Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --divide-red: #b9000f;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
.theme-switch .arco-switch-checked {
    background-color: #fbb755;
}
.theme-switch .arco-switch-checked .arco-switch-dot {
    color: #fbb755;
}

.box-row {
    display: flex;
    flex-direction: row;
}
.box-col {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 6px; /* 竖向滚动条宽度 */
    height: 6px; /* 横向滚动条高度 */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px; /* 滚动条样式 */

    background-color: var(--color-border); /* 滚动条颜色 */
}

/* 首页印章图像 */
.Index-Seal {
    color: white;
    background-color: var(--divide-red);
    font-size: 3rem;
    font-weight: bold;
    height: 5rem;
    padding: 1rem;
    border-radius: 50%;
    width: fit-content;
    margin: 2rem auto;
    position: relative;
}
.Index-Seal:before {
    position: absolute;
    content: "";
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #c5c5c5;
}

/* 最大的内容长度 */
.content-max {
    max-width: 700px;
}
