---
import Layout from "./Layout.astro";
import {GlobalHeader} from "../components/Header";
const info = Astro.props;
---

<Layout {...info as any}>
    <GlobalHeader client:load />
    <main
        class={"box-row box noise " + (info.class ?? "")}
        style={{
            overflow: "hidden",
            position: "relative",
        }}
    >
        <slot />
    </main>
</Layout>