---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
const info = Astro.props;
---

<Layout {...info as any}>
    <Header />
    <main
        class={"box-row box noise " + (info.class ?? "")}
        style={{
            overflow: "hidden",
            position: "relative",
        }}
    >
        <!-- {/* 噪声背景图 */}
        <aside class="noise-bg noise top-0 left-0"></aside> -->
        <slot />
    </main>
</Layout>
