---
import "../styles/index.css";
import {MainRegister} from  '../main'
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="stylesheet" href="
        https://901557678.r.cdn36.com/chinesefonts1/packages/jxzk/dist/%E6%B1%9F%E8%A5%BF%E6%8B%99%E6%A5%B7/result.css">
    </head>
    <body class="h-screen w-screen overflow-hidden flex flex-col">
        <MainRegister client:only></MainRegister>
        <slot />
       
    </body>
</html>
